@charset "UTF-8";
@import url("variables.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');


/* reset some default styles */
* , ::after, ::before {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', 'Courier New', 'Ubuntu Mono', Courier, monospace;
    outline: none;
    font-size: 18px;
    scroll-behavior: smooth;
    text-decoration: none;
}

/* these .hidden-scrollbar are making scrollbar hidden but still work */
.hidden-scrollbar::-webkit-scrollbar {
    width: 0 !important;
    scrollbar-width: thin;
}
.hidden-scrollbar {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: thin;
}


body.login {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/hacker-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
body.login::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, transparent, var(--black));
}

::selection {
    background-color: var(--light-green);
    color: var(--black);
}
::placeholder {
    font-size: 14px;
}




/* input styling */

::placeholder, input, textarea {
    color: var(--light-green);
}
button, .btn {
    cursor: pointer;
    color: var(--light-green);
    padding: 25px;
    transition: .3s ease-in-out;
}
button:hover, .btn:hover {
    color: var(--black);
    background-color: var(--light-green);
    transition: .3s ease-in-out;
}
input, textarea, button {
    background-color: transparent;
    padding: 10px;
    border: none;
    resize: none;
}



/* login page */
body.login > form {
    max-width: 350px;
    position: relative;
    z-index: 12;
}



table, td > input:not([type=checkbox]) {
    width: 100%;
}
.label-container {
    padding: 10px 15px;
}
table, th, td:not(.error-row) {
    border: 1px solid var(--light-green);
    border-collapse: collapse;
}



.login-title, .online-users-header, .welcome {
    background-color: var(--light-green);
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}



td > [type=checkbox] {
    display: block;
    margin: 0 auto;
}
td > button {
    width: 100%;
}



label {
    color: var(--light-green);
}



.error-paragraph {
    color: var(--dark-red);
    margin: 10px 0;
    text-align: center;
}







/* styling chat page */
body.chat {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/matrix.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    min-width: 300px;
    max-width: 1280px;
}
body.chat::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.95);
}

.container {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}



.nav-row {
    display: flex;
    flex-direction: row;
}
.nav-row > * {
    display: flex;
    align-items: center;
}
.welcome {
    flex: 1;
    font-weight: bold;
    background-color: var(--light-green);
    color: var(--black);
}
.btn.logout {
    border-bottom: 1px solid var(--light-green);
}



.interface-row, .form-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.interface-row {
    /* overflow: hidden; */
    border-bottom: 1px var(--light-green) solid;
}

.interface-row, .messages-container-col, .message-input {
    flex: 1;
}
.messages-container-col {
    padding-bottom: 10px;
}

.message-row {
    color: var(--light-green);
    display: flex;
    padding: 10px 0 0;
    align-items: center;
    word-break: break-word;
    hyphens: auto;
}
.mine {
    flex-direction: row-reverse;
    padding: 10px 10px 0 0;
}
.message {
    color: var(--black);
    background-color: var(--light-green);
    padding: 5px;
    border-radius: 5px;
}
.mine > .message {
    background-color: var(--dark-green);
    border-bottom-right-radius: 0;
}
.sender-info + .message {
    border-bottom-left-radius: 0;
}
.sender-info {
    font-weight: bolder;
    font-size: 15px;
    padding: 0 10px 0 5px;
}

   




.online-users-col {
    display: flex;
    flex-direction: column;
}
.online-users-col, .online-users-header {
    flex: 1;
    min-width: 170px;
    max-width: 200px;
    border-left: 1px var(--light-green) solid;
}
.messages-container-col, .interface-row, .online-users-col {
    overflow: auto;
}
.online-user {
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-green);
    border-bottom: 1px solid var(--light-green);

}









/* styles for small screens */
@media all and (max-width: 720px) {
    *, ::after, ::before {
        font-size: 16px;
    }
    /* styles for login page */
    /* styling for chat page */
    .online-users-col, .online-users-header {
        display: none;
    }
}